<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533209731682-qp4o570dbfcv7iek0iq97qlt577nmdnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533209731682-qp4o570dbfcv7iek0iq97qlt577nmdnk</string>
	<key>API_KEY</key>
	<string>AIzaSyA7eQXOJAj6u1v30jZp8OGYBoyCk3dGmkA</string>
	<key>GCM_SENDER_ID</key>
	<string>533209731682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.create-social</string>
	<key>PROJECT_ID</key>
	<string>social-by-mannan</string>
	<key>STORAGE_BUCKET</key>
	<string>social-by-mannan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533209731682:ios:8d56963b08e78b5791773b</string>
</dict>
</plist>